<div class="overflow-x-auto">
    <table class="min-w-full table-auto">
      <thead>
        <tr class="bg-gray-200 text-gray-700">
          <th class="px-4 py-2 text-left">Tipo</th>
          <th class="px-4 py-2 text-left">Valor</th>
          <th class="px-4 py-2 text-left">Categoria</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="transactions.length > 0">
        <tr *ngFor="let transaction of transactions">
          <td class="px-4 py-2">{{ transaction.type }}</td>
          <td class="px-4 py-2">{{ transaction.amount }}</td>
          <td class="px-4 py-2">{{ transaction.transaction_type.name }}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="transactions.length === 0">
        <tr>
          <td colspan="4" class="px-6 py-4 text-center text-gray-500">Nenhuma transação encontrada.</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  